:root {
  --color-primary: hsl(204deg, 90%, 60%);
}

.colors-get-grouped-by-selectors {
  background-color: rebeccapurple;
  border-color: rgb(255 0 153);
  /* and separated by comments */
  color: #BADA55;
}
