/* EXAMPLE */

.colors-get-separated-by-selectors {
  background-color: rebeccapurple;
  border-color: rgb(255 0 153);

  /* and further separated by comments. */

  color: #bada55;
  outline-color: aliceblue;
}

:root {
  /* You can add these colors to one group */
  --color-primary: hsl(204deg, 90%, 60%);
  --color-primary-hover: hsl(204deg, 90%, 50%);
  --color-primary-bg: hsla(204deg, 100%, 36%, 0.6);
  --color-primary-text: hsl(204deg, 90%, 72%);
  --color-primary-dark-1: #14a1ff;
  --color-primary-dark-2: #47b6ff;
  --color-primary-dark-3: #66c2ff;
  --color-primary-dark-4: #8fd2ff;
  --color-primary-dark-5: #addeff;
  --color-primary-dark-6: #c7e9ff;
  --color-primary-dark-7: #e0f3ff;

  /* and these to another. And then adjust their HSL values. */
  --color-secondary: oklch(41.14% 0.02 253.5);
  --color-secondary-bg: oklch(31.46% 0.0191 253.56);
  --color-secondary-dark-1: oklch(45.7% 0.0228 253.51);
  --color-secondary-dark-2: oklch(50.15% 0.0254 253.51);
  --color-secondary-dark-3: oklch(58.76% 0.0306 253.52);
  --color-secondary-dark-4: oklch(63.14% 0.027 253.47);
  --color-secondary-dark-5: oklch(67.45% 0.0236 253.43);
  --color-secondary-dark-6: oklch(71.21% 0.0203 255.57);
  --color-secondary-dark-7: oklch(75.05% 0.0178 253.37);

  /* Then click "Generate CSS" and get your new CSS theme! */
  --nice: mediumspringgreen;
}
